doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        block vars
        if title
            title #{title} - Tomatenquark Tracker
        else
            title Tomatenquark Tracker
        
        link(rel="shortcut icon", type="image/x-icon", href="/images/squid.png")
        link(rel="stylesheet", href="/styles/styles.css", type="text/css")
        link(href='//fonts.googleapis.com/css?family=Roboto:400,900', rel='stylesheet', type='text/css')
    body
        #wrapper
            .title-bar(data-responsive-toggle="top-menu", data-hide-for="medium")
                button.menu-icon(type="button", data-toggle)
                .title-bar-title Tomatenquark Tracker
            
            .top-bar(id="top-menu")
                .column.row
                    .top-bar-left
                        ul.menu
                            li: a.menu-text(href="/")
                                img.logo(src="/images/squid.png")
                                | Tomatenquark Tracker
                    .top-bar-right
                        ul.menu
                            li(class=(section=="servers"? "active": undefined)): a(href="/") Servers
                            li(class=(section=="games"? "active": undefined)): a(href="/games") Games
                            li(class=(section=="players"? "active": undefined)): a(href="/players") Players
                            li(class=(section=="clans"? "active": undefined)): a(href="/clans") Clans
                            li(class=(section=="about"? "active": undefined)): a(href="/about") About
            #content
                block content
                footer.footer.row
                    .row(data-equalizer, data-equalize-on="medium")
                        .medium-7.columns(data-equalizer-watch)
                            strong Tomatenquark &copy; 2019
                            br
                            | If you have questions, suggestions, or bug reports, create an issue on <a href="https://github.com/AngrySnout/SauerTracker/issues">GitHub</a> or join us on <a href="https://discord.gg/CzGZXsQ">Discord</a>.
                            br
                            small This site or product includes IP2Location LITE data available from <a href="https://lite.ip2location.com">https://lite.ip2location.com</a>.
                        .medium-2.columns(data-equalizer-watch)
                            i.fa.fa-bars
                            |  Quick links:
                            ol
                                li: a(href="https://github.com/AngrySnout/SauerTracker/wiki/FAQ") FAQ
                                li: a(href="https://github.com/AngrySnout/SauerTracker/wiki/API") API
                                li: a(href="https://github.com/AngrySnout/SauerTracker") GitHub
                        .medium-3.columns(data-equalizer-watch)
                            i.fa.fa-external-link-square
                            |  External links:
                            ol
                                li: a(href="https://tomatenquark.org/") Tomatenquark official website

        script(src="/vendor/jquery.min.js")
        script(src="/vendor/foundation.min.js")
        script(src="/vendor/typeahead.bundle.min.js")
        script(src="/js/main.js")
        block scripts
