extends ./_layout.pug

block vars
    - section = "about";
    link(href='//fonts.googleapis.com/css?family=Raleway:900', rel='stylesheet', type='text/css')

block content
    .panel-blurred
        h2 Tomatenquark Tracker
        h3 Global server and player stats tracking for Cube 2: Tomatenquark

        .row
            .small-12.medium-6.large-4.columns
                a(href="/faq")
                    .panel
                        h4 FAQ
                        p.subtitle Got any questions about the Tracker? Check out the FAQ page and see if your answer's in there.
            .small-12.medium-6.large-4.columns
                a(href="/")
                    .panel
                        h4 Browse servers
                        p.subtitle Browse servers like you would in-game. Track on-going games, live. See game mode, map, teams, and players. Find server websites and demo pages.
            .small-12.medium-6.large-4.columns
                a(href="/api")
                    .panel
                        h4 API
                        p.subtitle Looking to access the tracker programatically? Click here to read the API's documentation.
            .small-12.medium-6.large-4.columns
                a(href="/games")
                    .panel
                        h4 Find games
                        p.subtitle Search for games by server description, host, game mode, game type, map, date, and players. See end-game stats for all games.
            .small-12.medium-6.large-4.columns
                a(href="/players")
                    .panel
                        h4 Find players
                        p.subtitle Search for players by name. See player stats and what games they played.
            .small-12.medium-6.large-4.columns
                a(href="/profile")
                    .panel
                        h4 Track your stats
                        p.subtitle Player stats are saved on all servers. Track your frags, deaths, games, and more, on all servers, all the time.
            
    .row.main-container
        ul.breadcrumbs
            li.current Top 10s
        .large-4.columns
            if topPlayers
                table(width="100%")
                    thead
                        tr
                            td(width="50%") Top players
                            td(width="50%") Frags
                    tbody
                        for player in topPlayers
                            tr
                                td: a(href=("/player/"+encodeURIComponent(player.name)))= player.name
                                td= player.frags
        .large-4.columns
            if topCountries
                table(width="100%")
                    thead
                        tr
                            td(width="50%") Top countries
                            td(width="50%") Frags
                    tbody
                        - for (var i = 0; i < topCountries.length; i += 2)
                            tr
                                td
                                    if topCountries[i] && topCountries[i] != "unknown"
                                        img.flag(src=("/images/flags/"+topCountries[i]+".png"))
                                        |  
                                        a(href="/players/find?country="+topCountries[i])= countryName(topCountries[i])
                                    else
                                        = countryName(topCountries[i])
                                td= topCountries[i+1]
        .large-4.columns
            if topServers
                table(width="100%")
                    thead
                        tr
                            td(width="50%") Top servers
                            td(width="50%") # of games
                    tbody
                        - for (var i = 0; i < topServers.length; i += 2)
                            - var serverParts = topServers[i].split(':');
                            tr
                                td: a(href=("/server/"+serverParts[0]+"/"+serverParts[1]))= serverNames[topServers[i]]
                                td= topServers[i+1]
