extends ./_layout.pug

block vars
	- section = "banners";
	- title = "Banners";

block content
	.row.main-container
		ul.breadcrumbs
			li.current Banners
		.medium-12.columns
			noscript.alert This page requires JavaScript.
			.row
				.small-4.medium-2.columns
					label.big.text-right.middle(for="banner-type") Banner type: 
				.small-8.medium-10.columns
					select#banner-type
						option(value="player", selected=(query&&query.type=="player"? "selected": undefined)) Player
						option(value="server", selected=(query&&query.type=="server"? "selected": undefined)) Server
						option(value="clan", selected=(query&&query.type=="clan"? "selected": undefined)) Clan
			
			.banner-options.banner-options-player.current
				.row
					.small-4.medium-2.columns
						label.big.text-right.middle(for="banner-name") Player name: 
					.small-8.medium-10.columns
						input#banner-name(type="text", placeholder="Player name...", value=(query? query.name: ""))
				.row
					.small-4.medium-2.columns
						label.big.text-right.middle(for="banner-theme-player") Theme: 
					.small-8.medium-10.columns
						select#banner-theme-player
							option(value="default", selected="selected") Default
							option(value="custom") Custom...
				.row.banner-template-player
					.small-4.medium-2.columns
						label.big.text-right.middle(for="banner-template-player") Template:
					.small-8.medium-10.columns
						textarea#banner-template-player(rows=20, placeholder="Template...")
				.row
					.small-6.medium-3.columns.medium-push-3
						br
						button.button.expanded.large#banner-preview-player Preview
					.small-6.medium-3.columns.end.medium-push-3
						br
						button.button.expanded.large#banner-generate-player Generate
				div(style="text-align: center; margin-top: 2em;")
					#svg-target-player.checkers-background(style="padding: 8px;")
						
			.banner-options.banner-options-server
				.row
					.small-4.medium-2.columns
						label.big.text-right.middle(for="banner-host") Server IP: 
					.small-8.medium-10.columns
						input#banner-host(type="text", placeholder="Server IP...", value=(query? query.host: ""))
				.row
					.small-4.medium-2.columns
						label.big.text-right.middle(for="banner-port") Server port: 
					.small-8.medium-10.columns
						input#banner-port(type="text", placeholder="Server port...", value=(query? query.port: ""))
				.row
					.small-4.medium-2.columns
						label.big.text-right.middle(for="banner-theme-server") Theme: 
					.small-8.medium-10.columns
						select#banner-theme-server
							option(value="default", selected="selected") Default
							option(value="custom") Custom...
				.row.banner-template-server
					.small-4.medium-2.columns
						label.big.text-right.middle(for="banner-template-server") Template:
					.small-8.medium-10.columns
						textarea#banner-template-server(rows=20, placeholder="Template...")
				.row
					.small-6.medium-3.columns.medium-push-3
						br
						button.button.expanded.large#banner-preview-server Preview
					.small-6.medium-3.columns.end.medium-push-3
						br
						button.button.expanded.large#banner-generate-server Generate
				div(style="text-align: center; margin-top: 2em;")
					#svg-target-server.checkers-background(style="padding: 8px;")

			.banner-options.banner-options-clan
				.row
					.small-4.medium-2.columns
						label.big.text-right.middle(for="banner-clantag") Clantag: 
					.small-8.medium-10.columns
						input#banner-clantag(type="text", placeholder="Clantag...", value=(query? query.clantag: ""))
				.row
					.small-4.medium-2.columns
						label.big.text-right.middle(for="banner-theme-clan") Theme: 
					.small-8.medium-10.columns
						select#banner-theme-clan
							option(value="default", selected="selected") Default
							option(value="custom") Custom...
				.row.banner-template-clan
					.small-4.medium-2.columns
						label.big.text-right.middle(for="banner-template-clan") Template:
					.small-8.medium-10.columns
						textarea#banner-template-clan(rows=20, placeholder="Template...")
				.row
					.small-6.medium-3.columns.medium-push-3
						br
						button.button.expanded.large#banner-preview-clan Preview
					.small-6.medium-3.columns.end.medium-push-3
						br
						button.button.expanded.large#banner-generate-clan Generate
				div(style="text-align: center; margin-top: 2em;")
					#svg-target-clan.checkers-background(style="padding: 8px;")
			
	.reveal#banner-code(data-reveal)
		| Image URL:
		input#banner-url(type="text", onfocus="$(this).select()")
		| HTML:
		input#banner-html(type="text", onfocus="$(this).select()")

block scripts
	script(src="/js/banners.js")
