extends ./_layout.pug

block vars
    - section = "servers";
    - title = server.description;

block content
    .row.main-container
        ul.breadcrumbs
            li Servers
            li.current #{server.description}
        .medium-12.columns
            #game
                include ./_partials/game.pug
            if !server.info.banned && !server.zombie
                .row.columns.client-side(style="margin-top: 1em")
                    label.big Server activity for today (avg # of players, time is in UTC):
                    div(style="width: 100%; margin-right: 50px;")
                        canvas#server-activity-day(style="width: 100%; height: 300px;")
                .row.columns.client-side
                    label.big Server activity for the last 15 days (# of games):
                    div(style="width: 100%; margin-right: 50px;")
                        canvas#server-activity-month(style="width: 100%; height: 300px;")

    .reveal#connect-info(data-reveal)
        | Copy the following line, paste it in the game, and press Enter to connect to the server:
        br
        br
        input#connect-command(type="text", value="/connect", onfocus="$(this).select()")

block scripts
    script(src="/js/server.js")
