extends ./_layout.jade

block vars
    - section = "home";
    - title = "API Reference";

mixin example(path)
    label.big Example
    .input-group
        input.input-group-field(type="text", value=(path))
        .input-group-button
            button.button(onclick="runAPI(this)") Run
    textarea(rows="20", autocorrect="off", spellcheck="false")

block content
    .row.main-container
        ul.breadcrumbs
            li.current API Reference
        .medium-12.columns.end
            | Most of the Tracker's functionality is available in the API. All API functions are available under the /api route, have cross-origin enabled, accept GET parameters, and return JSON. In addition, any API call can return status 404 (not found), status 500 (internal server error), or 400 (bad request), which may be accompanied by an "error" object in the response describing the error.
            br
            br
            .row.collapse
                .medium-2.columns            
                    ul.tabs.vertical#api-tabs(data-tabs)
                        for path, i in paths
                            li.tabs-title(class=(i===0? "is-active": ""))
                                a(href=("#"+path.name))= path.title
                .medium-10.columns
                    .tabs-content.vertical(data-tabs-content="api-tabs")
                        for path, i in paths
                            .tabs-panel(class=(i===0? "is-active": ""), id=(path.name))
                                h3= path.route
                                br
                                p!= path.desc.replace(/\n/g, "<br>")
                                br
                                +example(path.example)
                            
block scripts
    script(src="/js/api.js")
