extends ./_layout.jade

block vars
    - section = "games";
    - title = server.description;

block content
    .row.main-container
        ul.breadcrumbs
            li Games
            li.current= id
        .medium-12.columns
            #game
                include ./_partials/game.jade
                        
    .reveal#connect-info(data-reveal)
        | Copy the following line, paste it in the game, and press Enter to connect to the server:
        br
        br
        input#connect-command(type="text", value="/connect", onfocus="$(this).select()")

block scripts
    script(src="/js/game.js")
