extends ./_layout.pug

block vars
    - section = "servers";
    - title = "Servers";

block content
    if !noBanner
        .row.main-container.banner
            a.disable-default.x-button(href="/?banner=no") x
            .medium-12.columns
                | Check out the new Cube 2: Sauerbraten duel league open for all players of all skill levels. <strong style="color: rgb(247, 134, 134)">Next Event:</strong> FFA 1v1 @ <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=SauerDuels+%232%3A+FFA+1v1&iso=20171022T1800&p1=83&ah=3" target="_blank">October 22nd, 6:00 PM (CEST)</a> | <a href="http://sauerduels.challonge.com/tournaments/signup/wIuSkmi8vI" target="_blank">Sign up</a> | <a href="http://sauerduels.challonge.com/sd2ffa" target="_blank">Bracket</a> | <a href="http://sauerduels.me/" target="_blank">Sauerduels.me</a>
            
    .row.main-container
        ul.breadcrumbs
            li.current Servers
        .medium-12.columns
            .client-side(style="min-width: 100%")
                .medium-13.large-9.columns
                    label.big Players: 
                        span.server-count#total-players #{totalPlayers}
                        
                    label.big(style="margin-left: 20px;") Servers: 
                        span.server-count#total-servers #{totalServers}
                        
                    label.big(style="margin-left: 20px;")
                        input#hide-empty(type="checkbox", onchange="hideEmptyChanged()", checked)
                        | Hide empty servers
                        
                    label.big(style="margin-left: 20px;")
                        input#pause-update(type="checkbox", onchange="pauseUpdateChanged()")
                        | Pause update
                .medium-12.large-3.columns
                    input.typeahead#find-player(type="text", onkeyup="findPlayer()", onKeyPress="findPlayer()", onPaste="findPlayer()", onInput="findPlayer()", onChange="findPlayer()", placeholder="Find players...")
                .medium-12.large-9.columns#clans-online(style="margin-top: -5px; margin-botton: 5px;")
                .medium-12.large-3.columns
                    input#find-server(type="text", onkeyup="findServer()", onKeyPress="findServer()", onPaste="findServer()", onInput="findServer()", onChange="findServer()", placeholder="Filter servers...")
                        
            .medium-12.columns#server-info(style="display: none; height: 0px;")
                #server-info-content
                button.close-button(type="button", onclick="hideServer()") &times;
                button.close-button.maximize-button(type="button", onclick="expandServer()") <i class="fa fa-expand"></i>
            
            #server-list
                include ./_partials/server-list.pug

    .reveal#connect-info(data-reveal)
        | Copy the following line, paste it in the game, and press Enter to connect to the server:
        br
        br
        input#connect-command(type="text", value="/connect", onfocus="$(this).select()")
        
    script#servers-json(type="application/json")
        | !{JSON.stringify(servers)}

block scripts
    script(src="/js/servers.js")
